src/flow_CAMERApi.json
[{"id":"53338b62.27eaf4","type":"tab","label":"CAMERAendpoint"},{"id":"cdcdb939.6b9428","type":"debug","z":"53338b62.27eaf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":519,"y":154,"wires":[]},{"id":"de2d18c3.5fe5e8","type":"http in","z":"53338b62.27eaf4","name":"","url":"/getimg","method":"get","upload":false,"swaggerDoc":"","x":330,"y":140,"wires":[["cdcdb939.6b9428","714ca5f6.0c716c"]]},{"id":"f9655d65.f799","type":"comment","z":"53338b62.27eaf4","name":"画像要求を受け、画像データを返す","info":"","x":200,"y":80,"wires":[]},{"id":"8881e613.d32518","type":"comment","z":"53338b62.27eaf4","name":"シャッター要求を受け、画像を撮影する","info":"","x":220,"y":380,"wires":[]},{"id":"6de909ae.3f6148","type":"debug","z":"53338b62.27eaf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":460,"wires":[]},{"id":"2b54e6c3.94ebaa","type":"http in","z":"53338b62.27eaf4","name":"","url":"/shutter","method":"get","upload":false,"swaggerDoc":"","x":321,"y":446,"wires":[["6de909ae.3f6148","be3930a8.50b0e"]]},{"id":"ec351b55.2579b8","type":"template","z":"53338b62.27eaf4","name":"returnmsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","x":700,"y":560,"wires":[["6fba8d52.466c04"]]},{"id":"6fba8d52.466c04","type":"http response","z":"53338b62.27eaf4","name":"","x":830,"y":560,"wires":[]},{"id":"be3930a8.50b0e","type":"camerapi-takephoto","z":"53338b62.27eaf4","filemode":"1","filename":"photo.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"10","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":520,"y":500,"wires":[["cbb6b2ea.ba4ee","ec351b55.2579b8"]]},{"id":"cbb6b2ea.ba4ee","type":"debug","z":"53338b62.27eaf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":500,"wires":[]},{"id":"714ca5f6.0c716c","type":"file in","z":"53338b62.27eaf4","name":"","filename":"/home/pi/Pictures/photo.jpg","format":"","sendError":true,"x":569,"y":214,"wires":[["1101deb2.683271"]]},{"id":"1101deb2.683271","type":"change","z":"53338b62.27eaf4","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":799,"y":214,"wires":[["76b5ac2e.7b18e4"]]},{"id":"76b5ac2e.7b18e4","type":"http response","z":"53338b62.27eaf4","name":"","x":959,"y":214,"wires":[]},{"id":"4107c0f8.19896","type":"comment","z":"53338b62.27eaf4","name":"Mother データ要求","info":"","x":150,"y":140,"wires":[]},{"id":"fd31e29f.36d34","type":"comment","z":"53338b62.27eaf4","name":"写真LOAD＆加工して返信","info":"","x":290,"y":220,"wires":[]},{"id":"4b7a7aed.436794","type":"comment","z":"53338b62.27eaf4","name":"Mother 撮影要求","info":"","x":140,"y":440,"wires":[]},{"id":"511bc3d1.25138c","type":"comment","z":"53338b62.27eaf4","name":"撮影＆保存","info":"","x":340,"y":500,"wires":[]}]
