src/flow_pi64.json
[{"id":"53338b62.27eaf4","type":"tab","label":"CAMERAendpoint"},{"id":"7c750ec3.77a1f","type":"tab","label":"LEDhelloworld","disabled":false,"info":""},{"id":"6b6874c6.92734c","type":"tab","label":"LEDendpoint"},{"id":"cdcdb939.6b9428","type":"debug","z":"53338b62.27eaf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":519,"y":154,"wires":[]},{"id":"de2d18c3.5fe5e8","type":"http in","z":"53338b62.27eaf4","name":"","url":"/getimg","method":"get","upload":false,"swaggerDoc":"","x":330,"y":140,"wires":[["cdcdb939.6b9428","714ca5f6.0c716c"]]},{"id":"f9655d65.f799","type":"comment","z":"53338b62.27eaf4","name":"画像要求を受け、画像データを返す","info":"","x":200,"y":80,"wires":[]},{"id":"8881e613.d32518","type":"comment","z":"53338b62.27eaf4","name":"シャッター要求を受け、画像を撮影する","info":"","x":220,"y":380,"wires":[]},{"id":"6de909ae.3f6148","type":"debug","z":"53338b62.27eaf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":460,"wires":[]},{"id":"2b54e6c3.94ebaa","type":"http in","z":"53338b62.27eaf4","name":"","url":"/shutter","method":"get","upload":false,"swaggerDoc":"","x":321,"y":446,"wires":[["6de909ae.3f6148","be3930a8.50b0e"]]},{"id":"ec351b55.2579b8","type":"template","z":"53338b62.27eaf4","name":"returnmsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","x":700,"y":560,"wires":[["6fba8d52.466c04"]]},{"id":"6fba8d52.466c04","type":"http response","z":"53338b62.27eaf4","name":"","x":830,"y":560,"wires":[]},{"id":"be3930a8.50b0e","type":"camerapi-takephoto","z":"53338b62.27eaf4","filemode":"1","filename":"photo.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"10","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":520,"y":500,"wires":[["cbb6b2ea.ba4ee","ec351b55.2579b8"]]},{"id":"cbb6b2ea.ba4ee","type":"debug","z":"53338b62.27eaf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":500,"wires":[]},{"id":"714ca5f6.0c716c","type":"file in","z":"53338b62.27eaf4","name":"","filename":"/home/pi/Pictures/photo.jpg","format":"","sendError":true,"x":569,"y":214,"wires":[["1101deb2.683271"]]},{"id":"1101deb2.683271","type":"change","z":"53338b62.27eaf4","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":799,"y":214,"wires":[["76b5ac2e.7b18e4"]]},{"id":"76b5ac2e.7b18e4","type":"http response","z":"53338b62.27eaf4","name":"","x":959,"y":214,"wires":[]},{"id":"4107c0f8.19896","type":"comment","z":"53338b62.27eaf4","name":"Mother データ要求","info":"","x":150,"y":140,"wires":[]},{"id":"fd31e29f.36d34","type":"comment","z":"53338b62.27eaf4","name":"写真LOAD＆加工して返信","info":"","x":290,"y":220,"wires":[]},{"id":"4b7a7aed.436794","type":"comment","z":"53338b62.27eaf4","name":"Mother 撮影要求","info":"","x":140,"y":440,"wires":[]},{"id":"511bc3d1.25138c","type":"comment","z":"53338b62.27eaf4","name":"撮影＆保存","info":"","x":340,"y":500,"wires":[]},{"id":"3be51d61.9a1f92","type":"rpi-gpio out","z":"7c750ec3.77a1f","name":"","pin":"12","set":true,"level":"0","freq":"","out":"out","x":460,"y":160,"wires":[]},{"id":"a83bda4e.a036b8","type":"rpi-gpio out","z":"7c750ec3.77a1f","name":"","pin":"16","set":true,"level":"0","freq":"","out":"out","x":460,"y":220,"wires":[]},{"id":"89a6aaac.856d28","type":"rpi-gpio out","z":"7c750ec3.77a1f","name":"","pin":"18","set":true,"level":"0","freq":"","out":"out","x":460,"y":280,"wires":[]},{"id":"e4db7b39.88ecf8","type":"inject","z":"7c750ec3.77a1f","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":180,"wires":[["3be51d61.9a1f92"]]},{"id":"23a9e81c.7afad8","type":"inject","z":"7c750ec3.77a1f","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":140,"wires":[["3be51d61.9a1f92","1f2b2484.146d4b"]]},{"id":"50478004.99b1f","type":"inject","z":"7c750ec3.77a1f","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":280,"wires":[["a83bda4e.a036b8"]]},{"id":"5d8d81c5.40699","type":"inject","z":"7c750ec3.77a1f","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":240,"wires":[["a83bda4e.a036b8"]]},{"id":"b066fd7b.a98d9","type":"inject","z":"7c750ec3.77a1f","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":380,"wires":[["89a6aaac.856d28"]]},{"id":"20c94d9b.23c6a2","type":"inject","z":"7c750ec3.77a1f","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":340,"wires":[["89a6aaac.856d28"]]},{"id":"8df265b4.dc78d8","type":"inject","z":"7c750ec3.77a1f","name":"全消灯","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":60,"wires":[["3be51d61.9a1f92","a83bda4e.a036b8","89a6aaac.856d28"]]},{"id":"b1a6914f.11f18","type":"http in","z":"6b6874c6.92734c","name":"","url":"/setled","method":"get","swaggerDoc":"","x":270,"y":80,"wires":[["1c9521d9.41b89e","58350701.510ba8"]]},{"id":"27d579d8.918316","type":"template","z":"6b6874c6.92734c","name":"returnmsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"LED setting OK {{payload}}","x":840,"y":180,"wires":[["d76f0682.61db48"]]},{"id":"d76f0682.61db48","type":"http response","z":"6b6874c6.92734c","name":"","statusCode":"","headers":{},"x":990,"y":180,"wires":[]},{"id":"1c9521d9.41b89e","type":"debug","z":"6b6874c6.92734c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":444.5,"y":74,"wires":[]},{"id":"6d1d4d4e.610284","type":"comment","z":"6b6874c6.92734c","name":"LED点灯/消灯時刻設定","info":"マザーからGETが送られてくるので、\nパラメタ\n- ontime　点灯時刻\n- offtime　消灯時刻\nを受け取る。\n\nそれに合わせて\nLEDの点灯消灯設定を行うプログラムは任せました。","x":114.5,"y":34,"wires":[]},{"id":"5bdb0655.4ac928","type":"debug","z":"6b6874c6.92734c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":140,"wires":[]},{"id":"ae5f679.3c66298","type":"comment","z":"6b6874c6.92734c","name":"LED点灯/消灯状態切替","info":"１時間に１度、現在時刻と点灯/消灯設定時刻の照らし合わせを行う\n\n最終的に、onかoffかnoneが出てきます。","x":114.5,"y":254,"wires":[]},{"id":"4dec3e3a.57e0d","type":"comment","z":"6b6874c6.92734c","name":"Mother時刻設定","info":"","x":94.5,"y":74,"wires":[]},{"id":"cc191916.55cc68","type":"comment","z":"6b6874c6.92734c","name":"保存","info":"","x":290,"y":140,"wires":[]},{"id":"1d26901.4c4b57","type":"comment","z":"6b6874c6.92734c","name":"時刻設定読み込み","info":"","x":130,"y":360,"wires":[]},{"id":"451d9b12.67fe24","type":"file in","z":"6b6874c6.92734c","name":"","filename":"/home/pi/configure.txt","format":"utf8","chunk":false,"sendError":false,"x":360,"y":360,"wires":[["c0be426b.e2eeb","18df8902.93c0e7"]]},{"id":"add839d2.81fb28","type":"comment","z":"6b6874c6.92734c","name":"時間間隔トリガ","info":"","x":100,"y":300,"wires":[]},{"id":"58b7d761.8b4bf8","type":"inject","z":"6b6874c6.92734c","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":300,"wires":[["451d9b12.67fe24"]],"outputLabels":["test1"]},{"id":"c0be426b.e2eeb","type":"debug","z":"6b6874c6.92734c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":360,"wires":[]},{"id":"18df8902.93c0e7","type":"function","z":"6b6874c6.92734c","name":"match","func":"var conf = msg.payload.split(',');\nvar ontime = conf[0];\nvar offtime = conf[1];\n\nvar jikan= new Date();\nvar hour = jikan.getHours();\n\nif(ontime < offtime){\n    if((hour < ontime) || (offtime < hour)){\n        msg.payload = 0\n    }\n    else{\n        msg.payload = 1\n    }\n}\nelse if(ontime > offtime){\n    if((hour < offtime) || (ontime < hour)){\n        msg.payload = 1\n    }\n    else{\n        msg.payload = 0\n    }\n}\nelse{\n    msg.payload = 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["ffd5a8ea.538f48","3d7ae119.7fea6e","7261a74b.dd62e8","f2c1757b.c167f8"]]},{"id":"58350701.510ba8","type":"template","z":"6b6874c6.92734c","name":"content","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{req.query.ontime}},{{req.query.offtime}}","output":"str","x":440,"y":140,"wires":[["7b08e678.498738"]]},{"id":"7b08e678.498738","type":"file","z":"6b6874c6.92734c","name":"","filename":"/home/pi/configure.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":640,"y":140,"wires":[["5bdb0655.4ac928","27d579d8.918316"]]},{"id":"f1f4b9a5.a09de8","type":"comment","z":"6b6874c6.92734c","name":"点灯/消灯時刻か？","info":"","x":390,"y":420,"wires":[]},{"id":"ffd5a8ea.538f48","type":"debug","z":"6b6874c6.92734c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":420,"wires":[]},{"id":"3d7ae119.7fea6e","type":"rpi-gpio out","z":"6b6874c6.92734c","name":"","pin":"12","set":true,"level":"0","freq":"","out":"out","x":720,"y":480,"wires":[]},{"id":"7261a74b.dd62e8","type":"rpi-gpio out","z":"6b6874c6.92734c","name":"","pin":"16","set":true,"level":"0","freq":"","out":"out","x":720,"y":520,"wires":[]},{"id":"f2c1757b.c167f8","type":"rpi-gpio out","z":"6b6874c6.92734c","name":"","pin":"18","set":true,"level":"0","freq":"","out":"out","x":720,"y":560,"wires":[]},{"id":"1f2b2484.146d4b","type":"debug","z":"7c750ec3.77a1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":100,"wires":[]}]
