src/flows_raspberrypi.json
[{"id":"81fc6d55.cea29","type":"tab","label":"SimpleHttpGetRequest"},{"id":"d6e2119c.a825","type":"tab","label":"LEDendpoint"},{"id":"b97b31c2.6a406","type":"tab","label":"SENSORendpoint"},{"id":"58ce56e8.51f128","type":"tab","label":"CAMERAendpoint"},{"id":"3e6b0b5f.869484","type":"inject","z":"81fc6d55.cea29","name":"query parameter","topic":"","payload":"hoge","payloadType":"str","repeat":"","crontab":"","once":false,"x":187,"y":107,"wires":[["f848306c.957b4"]]},{"id":"1caeef3c.b12141","type":"http request","z":"81fc6d55.cea29","name":"","method":"GET","ret":"txt","url":"http://192.168.2.102:12345?query={{{query}}}","tls":"","x":395.5,"y":71,"wires":[["57fe14fe.97c2cc"]]},{"id":"57fe14fe.97c2cc","type":"debug","z":"81fc6d55.cea29","name":"","active":true,"console":"false","complete":"false","x":578.5,"y":133,"wires":[]},{"id":"f848306c.957b4","type":"change","z":"81fc6d55.cea29","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":252.5,"y":212,"wires":[["1caeef3c.b12141"]]},{"id":"2438e304.dab72c","type":"http in","z":"d6e2119c.a825","name":"","url":"/setled","method":"get","swaggerDoc":"","x":188,"y":170,"wires":[["9af039de.f4ecc8","711d8249.ba1a5c"]]},{"id":"9af039de.f4ecc8","type":"template","z":"d6e2119c.a825","name":"returnmsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        on {{req.query.ontime}}<br>\n        off {{req.query.offtime}}<br>\n        setted<br>\n    </body>\n</html>","x":405.5,"y":166,"wires":[["31ec85af.62f08a"]]},{"id":"31ec85af.62f08a","type":"http response","z":"d6e2119c.a825","name":"","x":604.5,"y":164,"wires":[]},{"id":"711d8249.ba1a5c","type":"debug","z":"d6e2119c.a825","name":"","active":true,"console":"false","complete":"false","x":357,"y":264,"wires":[]},{"id":"cd1c99af.97c7c8","type":"debug","z":"b97b31c2.6a406","name":"","active":true,"console":"false","complete":"false","x":381,"y":257,"wires":[]},{"id":"8a402180.b723e","type":"http in","z":"b97b31c2.6a406","name":"","url":"/getdata","method":"get","swaggerDoc":"","x":212,"y":163,"wires":[["a2b2502c.d6a2d","cd1c99af.97c7c8"]]},{"id":"a2b2502c.d6a2d","type":"template","z":"b97b31c2.6a406","name":"returnmsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        temperture:xx<br>\n        humidity:xx<br>\n        CO2:xx<br>\n        pH:xx<br>\n    </body>\n</html>","x":429.5,"y":159,"wires":[["312a184a.880878"]]},{"id":"312a184a.880878","type":"http response","z":"b97b31c2.6a406","name":"","x":628.5,"y":157,"wires":[]},{"id":"190bad1f.89fea3","type":"debug","z":"58ce56e8.51f128","name":"","active":true,"console":"false","complete":"false","x":365,"y":273,"wires":[]},{"id":"c02449c2.62fac8","type":"http in","z":"58ce56e8.51f128","name":"","url":"/getimg","method":"get","swaggerDoc":"","x":196,"y":179,"wires":[["282646e3.a5695a","190bad1f.89fea3"]]},{"id":"282646e3.a5695a","type":"template","z":"58ce56e8.51f128","name":"returnmsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        image data<br>\n    </body>\n</html>","x":413.5,"y":175,"wires":[["e2012d00.59d7e"]]},{"id":"e2012d00.59d7e","type":"http response","z":"58ce56e8.51f128","name":"","x":612.5,"y":173,"wires":[]}]