src/flow_pi62.json
[{"id":"18e5caac.4d2115","type":"tab","label":"SENSORendpoint"},{"id":"12c3baa0.7f81c5","type":"debug","z":"18e5caac.4d2115","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":120,"wires":[]},{"id":"a0c1c616.a05548","type":"http in","z":"18e5caac.4d2115","name":"","url":"/getdata","method":"get","upload":false,"swaggerDoc":"","x":292,"y":123,"wires":[["12c3baa0.7f81c5","9ca324e8.319358"]]},{"id":"b9f81c18.3a7b4","type":"template","z":"18e5caac.4d2115","name":"returnmsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":940,"y":240,"wires":[["f88a8bc3.6e3058"]]},{"id":"f88a8bc3.6e3058","type":"http response","z":"18e5caac.4d2115","name":"","x":1070,"y":240,"wires":[]},{"id":"49b01754.0198a8","type":"comment","z":"18e5caac.4d2115","name":"【センサデータの送信】","info":"マザーからGETが送られてくるので、\nセンサデータをJSONで返す","x":130,"y":40,"wires":[]},{"id":"a01d46a9.39acd8","type":"serial out","z":"18e5caac.4d2115","name":"","serial":"","x":510,"y":440,"wires":[]},{"id":"3815dd62.17c332","type":"comment","z":"18e5caac.4d2115","name":"Arduinoデータ送信要求","info":"シリアルに対して0x61を送ると，Arduinoから返事が帰ってきます．\n0x61はASCIIコードではaになるので，文字列のaを送るとよいです．","x":120,"y":400,"wires":[]},{"id":"97ca4a3b.75e848","type":"debug","z":"18e5caac.4d2115","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":400,"wires":[]},{"id":"62934407.60a4dc","type":"comment","z":"18e5caac.4d2115","name":"Mother データ要求","info":"","x":110,"y":120,"wires":[]},{"id":"202a8229.51488e","type":"comment","z":"18e5caac.4d2115","name":"マザーに送信","info":"JSON形式ぽいので送ります","x":770,"y":240,"wires":[]},{"id":"d5241da9.fa7a8","type":"inject","z":"18e5caac.4d2115","name":"デバッグ用Arduino信号","topic":"","payload":"{\"Humidity\":\"50\",\"temperature\":\"20\",\"PHP\":\"7\",\"CO2\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":540,"wires":[["7589d5e8.36e42c","ff20f683.7884d8"]]},{"id":"3ff4949a.e2986c","type":"serial in","z":"18e5caac.4d2115","x":360,"y":500,"wires":[["edf8f20e.6223c"]]},{"id":"edf8f20e.6223c","type":"function","z":"18e5caac.4d2115","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":500,"wires":[[]]},{"id":"69fe7378.7afb3c","type":"comment","z":"18e5caac.4d2115","name":"Arduinoデータ受信","info":"Arduinoから送られてきたデータはfunction関数でJSON形式\nに変換されます．\n\nデバッグ用にセンサデータをJSONで出力するINJECTIONを用意しました\nArduino-ラズパイ間の仕様変更時はfunction関数でがんばります","x":190,"y":500,"wires":[]},{"id":"cc0210d8.3068e","type":"inject","z":"18e5caac.4d2115","name":"要求信号","topic":"","payload":"a","payloadType":"str","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":400,"wires":[["97ca4a3b.75e848","a01d46a9.39acd8"]]},{"id":"b31dd081.8f784","type":"debug","z":"18e5caac.4d2115","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":680,"wires":[]},{"id":"310a0456.86554c","type":"function","z":"18e5caac.4d2115","name":"","func":"var data = msg.payload\nmsg.payload = \"{\"+\n              data.slice(0,-2)+\n              \"}\"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":180,"wires":[["b9f81c18.3a7b4","55e8bd68.6dc8f4"]]},{"id":"d38a327c.f7e3a","type":"file","z":"18e5caac.4d2115","name":"","filename":"/home/pi/Project/sensor/data/log.json","appendNewline":false,"createDir":false,"overwriteFile":"false","x":810,"y":680,"wires":[["b31dd081.8f784"]]},{"id":"ff20f683.7884d8","type":"json","z":"18e5caac.4d2115","name":"toJsonStr","property":"payload","action":"str","pretty":false,"x":440,"y":600,"wires":[["974e1824.424a58"]]},{"id":"bac2ef46.9390f","type":"debug","z":"18e5caac.4d2115","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"datestr","x":750,"y":600,"wires":[]},{"id":"974e1824.424a58","type":"function","z":"18e5caac.4d2115","name":"addDate","func":"// Payloadから日付オブジェクトを生成\nvar date = new Date();\nvar year = date.getFullYear();\nvar month = date.getMonth()+1;\nvar day = date.getDate();\nvar hour = date.getHours();\nvar minute = date.getMinutes();\nvar second = date.getSeconds();\nmsg.datestr = year+\"/\"+\n              month+\"/\"+\n              day+\"/\"+\n              hour+\"/\"+\n              minute+\"/\"+\n              second\n// 日付文字列に変換\n//msg.datestr = date.toString();\n// Payloadに追加\nmsg.payload = '\"'+msg.datestr+'\"'+\n              \":\"+\n              msg.payload+\n              \",\"\n// 次のNodeへmsgオブジェクトを返す\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":600,"wires":[["bac2ef46.9390f","4968d173.091bf","d38a327c.f7e3a"]]},{"id":"4968d173.091bf","type":"debug","z":"18e5caac.4d2115","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":640,"wires":[]},{"id":"7589d5e8.36e42c","type":"debug","z":"18e5caac.4d2115","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":540,"wires":[]},{"id":"3e3ad0d1.ec8ba","type":"comment","z":"18e5caac.4d2115","name":"日付追加","info":"","x":260,"y":600,"wires":[]},{"id":"c2db2efa.f9369","type":"comment","z":"18e5caac.4d2115","name":"保存","info":"","x":590,"y":680,"wires":[]},{"id":"9ca324e8.319358","type":"file in","z":"18e5caac.4d2115","name":"","filename":"/home/pi/Project/sensor/data/log.json","format":"utf8","chunk":false,"sendError":false,"x":550,"y":180,"wires":[["310a0456.86554c"]]},{"id":"55e8bd68.6dc8f4","type":"debug","z":"18e5caac.4d2115","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":180,"wires":[]},{"id":"c3554195.04035","type":"comment","z":"18e5caac.4d2115","name":"load&JSON加工","info":"","x":288,"y":180,"wires":[]},{"id":"188f0ed4.005731","type":"file","z":"18e5caac.4d2115","name":"","filename":"/home/pi/Project/sensor/data/log.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":1050,"y":300,"wires":[[]]},{"id":"3e1ffcd4.9c7984","type":"comment","z":"18e5caac.4d2115","name":"溜めたデータを削除","info":"","x":750,"y":300,"wires":[]},{"id":"7c36ac9c.38d404","type":"comment","z":"18e5caac.4d2115","name":"【センサデータの保存】","info":"マザーからGETが送られてくるので、\nセンサデータをJSONで返す","x":130,"y":340,"wires":[]}]
