src/flow_pi63.json
[{"id":"7d38b4f8.0623cc","type":"tab","label":"HelloWorld","disabled":false,"info":""},{"id":"260a0238.97079e","type":"tab","label":"LEDendpoint"},{"id":"d317ccd3.44b2c","type":"tab","label":"CAMERAendpoint"},{"id":"3d3b79b.ada5686","type":"http in","z":"7d38b4f8.0623cc","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["3d9bfaaa.33a416"]]},{"id":"6af0d9b5.b6ec38","type":"http response","z":"7d38b4f8.0623cc","name":"","statusCode":"","headers":{},"x":450,"y":100,"wires":[]},{"id":"3d9bfaaa.33a416","type":"function","z":"7d38b4f8.0623cc","name":"Response Body","func":"msg.payload=\"Hello! World!!\"\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["6af0d9b5.b6ec38"]]},{"id":"a57e8135.5bc23","type":"http in","z":"260a0238.97079e","name":"","url":"/setled","method":"get","swaggerDoc":"","x":270,"y":80,"wires":[["a1c5f2a2.f3254","728b6546.ca45ac"]]},{"id":"21e5a7e7.54b4b8","type":"template","z":"260a0238.97079e","name":"returnmsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"LED setting OK {{payload}}","x":840,"y":180,"wires":[["d16a58ac.110e18"]]},{"id":"d16a58ac.110e18","type":"http response","z":"260a0238.97079e","name":"","statusCode":"","headers":{},"x":990,"y":180,"wires":[]},{"id":"a1c5f2a2.f3254","type":"debug","z":"260a0238.97079e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":444.5,"y":74,"wires":[]},{"id":"797aa393.4d6b3c","type":"serial out","z":"7d38b4f8.0623cc","name":"","serial":"","x":410,"y":380,"wires":[]},{"id":"eddd2eba.fd1f1","type":"inject","z":"7d38b4f8.0623cc","name":"get data","topic":"","payload":"a","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["797aa393.4d6b3c"]]},{"id":"db421535.ff4c08","type":"inject","z":"7d38b4f8.0623cc","name":"デバッグ用Arduino信号","topic":"","payload":"{\"Humidity\":\"50\",\"temperature\":\"20\",\"PHP\":\"7\",\"CO2\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":600,"wires":[[]]},{"id":"de045b2e.b4c3d8","type":"serial in","z":"7d38b4f8.0623cc","x":160,"y":540,"wires":[["21a87e04.76e6b2"]]},{"id":"21a87e04.76e6b2","type":"function","z":"7d38b4f8.0623cc","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":540,"wires":[[]]},{"id":"2b3635ea.d1773a","type":"comment","z":"7d38b4f8.0623cc","name":"Arduinoデータ送信要求","info":"シリアルに対して0x61を送ると，Arduinoから返事が帰ってきます．\n0x61はASCIIコードではaになるので，文字列のaを送るとよいです．","x":140,"y":320,"wires":[]},{"id":"4bfe8156.80adf","type":"comment","z":"7d38b4f8.0623cc","name":"Arduinoデータ受信","info":"Arduinoから送られてきたデータはfunction関数でJSON形式\nに変換されます．\n\nデバッグ用にセンサデータをJSONで出力するINJECTIONを用意しました\nArduino-ラズパイ間の仕様変更時はfunction関数でがんばります","x":130,"y":500,"wires":[]},{"id":"c7293ce9.d5d1c","type":"comment","z":"260a0238.97079e","name":"LED点灯/消灯時刻設定","info":"マザーからGETが送られてくるので、\nパラメタ\n- ontime　点灯時刻\n- offtime　消灯時刻\nを受け取る。\n\nそれに合わせて\nLEDの点灯消灯設定を行うプログラムは任せました。","x":114.5,"y":34,"wires":[]},{"id":"ad1a9bfa.3514c8","type":"debug","z":"260a0238.97079e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":140,"wires":[]},{"id":"e6515aa9.280f08","type":"comment","z":"260a0238.97079e","name":"LED点灯/消灯状態切替","info":"１時間に１度、現在時刻と点灯/消灯設定時刻の照らし合わせを行う\n\n最終的に、onかoffかnoneが出てきます。","x":114.5,"y":254,"wires":[]},{"id":"20ed43c5.9ec3fc","type":"comment","z":"260a0238.97079e","name":"Mother時刻設定","info":"","x":94.5,"y":74,"wires":[]},{"id":"8a4543f3.9ddee","type":"comment","z":"260a0238.97079e","name":"保存","info":"","x":290,"y":140,"wires":[]},{"id":"28078d3e.e7c6a2","type":"comment","z":"260a0238.97079e","name":"時刻設定読み込み","info":"","x":130,"y":360,"wires":[]},{"id":"d18bfac6.11fc48","type":"file in","z":"260a0238.97079e","name":"","filename":"/home/pi/configure.txt","format":"utf8","chunk":false,"sendError":false,"x":360,"y":360,"wires":[["2044c872.136d98","8de3ab02.a63ef8"]]},{"id":"b19af33d.72a6","type":"comment","z":"260a0238.97079e","name":"時間間隔トリガ","info":"","x":100,"y":300,"wires":[]},{"id":"5077bd1e.890624","type":"inject","z":"260a0238.97079e","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":300,"wires":[["d18bfac6.11fc48"]],"outputLabels":["test1"]},{"id":"2044c872.136d98","type":"debug","z":"260a0238.97079e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":360,"wires":[]},{"id":"8de3ab02.a63ef8","type":"function","z":"260a0238.97079e","name":"match","func":"var conf = msg.payload.split(',');\nvar ontime = conf[0];\nvar offtime = conf[1];\n\nvar jikan= new Date();\nvar hour = jikan.getHours();\n\nif(hour == ontime){\n    msg.payload = 'on'\n}\nelse if(hour == offtime){\n    msg.payload = 'off'\n}\nelse{\n    msg.payload = 'none'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["cb117958.c05ba8"]]},{"id":"728b6546.ca45ac","type":"template","z":"260a0238.97079e","name":"content","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{req.query.ontime}},{{req.query.offtime}}","output":"str","x":440,"y":140,"wires":[["a30de73d.622f48"]]},{"id":"a30de73d.622f48","type":"file","z":"260a0238.97079e","name":"","filename":"/home/pi/configure.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":640,"y":140,"wires":[["ad1a9bfa.3514c8","21e5a7e7.54b4b8"]]},{"id":"beba5b03.985758","type":"comment","z":"260a0238.97079e","name":"点灯/消灯時刻か？","info":"","x":390,"y":420,"wires":[]},{"id":"cb117958.c05ba8","type":"debug","z":"260a0238.97079e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":420,"wires":[]},{"id":"7e3e354e.6c0e7c","type":"debug","z":"d317ccd3.44b2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":519,"y":154,"wires":[]},{"id":"55124c42.8cce34","type":"http in","z":"d317ccd3.44b2c","name":"","url":"/getimg","method":"get","upload":false,"swaggerDoc":"","x":330,"y":140,"wires":[["7e3e354e.6c0e7c","c4d765c4.315a38"]]},{"id":"4a0d50c2.f86b4","type":"comment","z":"d317ccd3.44b2c","name":"画像要求を受け、画像データを返す","info":"","x":200,"y":80,"wires":[]},{"id":"4e8ff2a3.d3337c","type":"comment","z":"d317ccd3.44b2c","name":"シャッター要求を受け、画像を撮影する","info":"","x":220,"y":380,"wires":[]},{"id":"bd2a8f73.9333f","type":"debug","z":"d317ccd3.44b2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":460,"wires":[]},{"id":"dbcdd050.f5db2","type":"http in","z":"d317ccd3.44b2c","name":"","url":"/shutter","method":"get","upload":false,"swaggerDoc":"","x":321,"y":446,"wires":[["bd2a8f73.9333f","93ce1aeb.8a14a8"]]},{"id":"16ca74e1.43668b","type":"template","z":"d317ccd3.44b2c","name":"returnmsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","x":711,"y":551,"wires":[["3e968de7.e40912"]]},{"id":"3e968de7.e40912","type":"http response","z":"d317ccd3.44b2c","name":"","x":841,"y":551,"wires":[]},{"id":"1bbae268.b0639e","type":"debug","z":"d317ccd3.44b2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":500,"wires":[]},{"id":"c4d765c4.315a38","type":"file in","z":"d317ccd3.44b2c","name":"","filename":"/home/pi/Pictures/photo.jpg","format":"","sendError":true,"x":569,"y":214,"wires":[["24841bf8.af6384"]]},{"id":"24841bf8.af6384","type":"change","z":"d317ccd3.44b2c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":799,"y":214,"wires":[["46e4e34e.28f5cc"]]},{"id":"46e4e34e.28f5cc","type":"http response","z":"d317ccd3.44b2c","name":"","x":959,"y":214,"wires":[]},{"id":"b1ddeda7.c86a8","type":"comment","z":"d317ccd3.44b2c","name":"Mother データ要求","info":"","x":150,"y":140,"wires":[]},{"id":"69d1973e.67f328","type":"comment","z":"d317ccd3.44b2c","name":"写真LOAD＆加工して返信","info":"","x":290,"y":220,"wires":[]},{"id":"1fa70390.36830c","type":"comment","z":"d317ccd3.44b2c","name":"Mother 撮影要求","info":"","x":140,"y":440,"wires":[]},{"id":"f9e79b1f.288188","type":"comment","z":"d317ccd3.44b2c","name":"撮影＆保存","info":"","x":340,"y":500,"wires":[]},{"id":"93ce1aeb.8a14a8","type":"camerapi-takephoto","z":"d317ccd3.44b2c","filemode":"1","filename":"photo.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"10","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":520,"y":500,"wires":[["1bbae268.b0639e","16ca74e1.43668b"]]}]
