src/flow_LEDpi.json
[{"id":"260a0238.97079e","type":"tab","label":"LEDendpoint"},{"id":"a57e8135.5bc23","type":"http in","z":"260a0238.97079e","name":"","url":"/setled","method":"get","swaggerDoc":"","x":270,"y":80,"wires":[["a1c5f2a2.f3254","728b6546.ca45ac"]]},{"id":"21e5a7e7.54b4b8","type":"template","z":"260a0238.97079e","name":"returnmsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"LED setting OK {{payload}}","x":840,"y":180,"wires":[["d16a58ac.110e18"]]},{"id":"d16a58ac.110e18","type":"http response","z":"260a0238.97079e","name":"","statusCode":"","headers":{},"x":990,"y":180,"wires":[]},{"id":"a1c5f2a2.f3254","type":"debug","z":"260a0238.97079e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":444.5,"y":74,"wires":[]},{"id":"c7293ce9.d5d1c","type":"comment","z":"260a0238.97079e","name":"LED点灯/消灯時刻設定","info":"マザーからGETが送られてくるので、\nパラメタ\n- ontime　点灯時刻\n- offtime　消灯時刻\nを受け取る。\n\nそれに合わせて\nLEDの点灯消灯設定を行うプログラムは任せました。","x":114.5,"y":34,"wires":[]},{"id":"ad1a9bfa.3514c8","type":"debug","z":"260a0238.97079e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":140,"wires":[]},{"id":"e6515aa9.280f08","type":"comment","z":"260a0238.97079e","name":"LED点灯/消灯状態切替","info":"１時間に１度、現在時刻と点灯/消灯設定時刻の照らし合わせを行う\n\n最終的に、onかoffかnoneが出てきます。","x":114.5,"y":254,"wires":[]},{"id":"20ed43c5.9ec3fc","type":"comment","z":"260a0238.97079e","name":"Mother時刻設定","info":"","x":94.5,"y":74,"wires":[]},{"id":"8a4543f3.9ddee","type":"comment","z":"260a0238.97079e","name":"保存","info":"","x":290,"y":140,"wires":[]},{"id":"28078d3e.e7c6a2","type":"comment","z":"260a0238.97079e","name":"時刻設定読み込み","info":"","x":130,"y":360,"wires":[]},{"id":"d18bfac6.11fc48","type":"file in","z":"260a0238.97079e","name":"","filename":"/home/pi/configure.txt","format":"utf8","chunk":false,"sendError":false,"x":360,"y":360,"wires":[["2044c872.136d98","8de3ab02.a63ef8"]]},{"id":"b19af33d.72a6","type":"comment","z":"260a0238.97079e","name":"時間間隔トリガ","info":"","x":100,"y":300,"wires":[]},{"id":"5077bd1e.890624","type":"inject","z":"260a0238.97079e","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":300,"wires":[["d18bfac6.11fc48"]],"outputLabels":["test1"]},{"id":"2044c872.136d98","type":"debug","z":"260a0238.97079e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":360,"wires":[]},{"id":"8de3ab02.a63ef8","type":"function","z":"260a0238.97079e","name":"match","func":"var conf = msg.payload.split(',');\nvar ontime = conf[0];\nvar offtime = conf[1];\n\nvar jikan= new Date();\nvar hour = jikan.getHours();\n\nif(hour == ontime){\n    msg.payload = 'on'\n}\nelse if(hour == offtime){\n    msg.payload = 'off'\n}\nelse{\n    msg.payload = 'none'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["cb117958.c05ba8"]]},{"id":"728b6546.ca45ac","type":"template","z":"260a0238.97079e","name":"content","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{req.query.ontime}},{{req.query.offtime}}","output":"str","x":440,"y":140,"wires":[["a30de73d.622f48"]]},{"id":"a30de73d.622f48","type":"file","z":"260a0238.97079e","name":"","filename":"/home/pi/configure.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":640,"y":140,"wires":[["ad1a9bfa.3514c8","21e5a7e7.54b4b8"]]},{"id":"beba5b03.985758","type":"comment","z":"260a0238.97079e","name":"点灯/消灯時刻か？","info":"","x":390,"y":420,"wires":[]},{"id":"cb117958.c05ba8","type":"debug","z":"260a0238.97079e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":420,"wires":[]}]
