src/flow_CAMERApi.json
[{"id":"213d7c0.6c29584","type":"tab","label":"CAMERAendpoint"},{"id":"fc781cde.d4312","type":"debug","z":"213d7c0.6c29584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":519,"y":154,"wires":[]},{"id":"760a4837.6d5db8","type":"http in","z":"213d7c0.6c29584","name":"","url":"/getimg","method":"get","upload":false,"swaggerDoc":"","x":330,"y":140,"wires":[["fc781cde.d4312","2b92ce66.234dd2"]]},{"id":"2bf28b43.d54284","type":"comment","z":"213d7c0.6c29584","name":"画像要求を受け、画像データを返す","info":"","x":200,"y":80,"wires":[]},{"id":"1ecb2b9.26d1bd4","type":"comment","z":"213d7c0.6c29584","name":"シャッター要求を受け、画像を撮影する","info":"","x":220,"y":380,"wires":[]},{"id":"29594207.65849e","type":"debug","z":"213d7c0.6c29584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":460,"wires":[]},{"id":"5b51c6e8.6cf248","type":"http in","z":"213d7c0.6c29584","name":"","url":"/shutter","method":"get","upload":false,"swaggerDoc":"","x":321,"y":446,"wires":[["29594207.65849e","a1459833.7e6498","faf33e26.989ac"]]},{"id":"faf33e26.989ac","type":"template","z":"213d7c0.6c29584","name":"returnmsg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","x":511,"y":544,"wires":[["42392f7a.aa415"]]},{"id":"42392f7a.aa415","type":"http response","z":"213d7c0.6c29584","name":"","x":641,"y":544,"wires":[]},{"id":"b8702ab6.6168a8","type":"debug","z":"213d7c0.6c29584","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":500,"wires":[]},{"id":"2b92ce66.234dd2","type":"file in","z":"213d7c0.6c29584","name":"","filename":"/home/pi/Pictures/photo.jpg","format":"","sendError":true,"x":569,"y":214,"wires":[["e24ee2e3.7650b"]]},{"id":"e24ee2e3.7650b","type":"change","z":"213d7c0.6c29584","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":799,"y":214,"wires":[["141fffbc.734fd"]]},{"id":"141fffbc.734fd","type":"http response","z":"213d7c0.6c29584","name":"","x":959,"y":214,"wires":[]},{"id":"8a77bcf8.c33d5","type":"comment","z":"213d7c0.6c29584","name":"Mother データ要求","info":"","x":150,"y":140,"wires":[]},{"id":"626783f8.bcb7cc","type":"comment","z":"213d7c0.6c29584","name":"写真LOAD＆加工して返信","info":"","x":290,"y":220,"wires":[]},{"id":"d20aea74.6337d8","type":"comment","z":"213d7c0.6c29584","name":"Mother 撮影要求","info":"","x":140,"y":440,"wires":[]},{"id":"72f8a185.b8277","type":"comment","z":"213d7c0.6c29584","name":"撮影＆保存","info":"","x":340,"y":500,"wires":[]},{"id":"a1459833.7e6498","type":"camerapi-takephoto","z":"213d7c0.6c29584","filemode":"1","filename":"photo.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"10","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":520,"y":500,"wires":[["b8702ab6.6168a8"]]}]
